<div *ngIf="currentAnimal">
    <div class="container">
        <h2>Modifier un Animal</h2>
        <form [formGroup]="animalForm">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Nom animal</label>
                <input type="text" formControlName="nomAnimal" class="form-control" required>
                <div *ngIf="animalForm.controls['nomAnimal'].invalid && animalForm.controls['nomAnimal'].touched" class="text-danger">
                    Le nom est obligatoire.
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Espèce</label>
                <input type="text" formControlName="especeAnimal" class="form-control" required>
                <div *ngIf="animalForm.controls['especeAnimal'].invalid && animalForm.controls['especeAnimal'].touched" class="text-danger">
                    L'espèce est obligatoire.
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Date de naissance</label>
                <input type="date" formControlName="dateNaissance" class="form-control" required>
                <div *ngIf="animalForm.controls['dateNaissance'].invalid && animalForm.controls['dateNaissance'].touched" class="text-danger">
                    La date de naissance est obligatoire.
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Groupe</label>
                <select class="form-control form-control-lg" formControlName="groupe">
                    <option *ngFor="let groupe of groupes" [value]="groupe.idGroupe">{{ groupe.nomGroupe }}</option>
                </select>
                <div *ngIf="animalForm.controls['groupe'].invalid && animalForm.controls['groupe'].touched" class="text-danger">
                    Le groupe est obligatoire.
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control" required>
                <div *ngIf="animalForm.controls['email'].invalid && animalForm.controls['email'].touched" class="text-danger">
                    L'email est obligatoire et doit être valide.
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" (click)="updateAnimal()" class="btn btn-success" [disabled]="animalForm.invalid">Modifier</button>
            </div>
        </form>
    </div>
</div>
